@import url('https://fonts.googleapis.com/css?family=Rakkas|Sanchez&display=swap');

/*
	Fonts used:
	font-family: 'Rakkas', cursive;
	font-family: 'Sanchez', serif;
*/

body {
	font-size: 16px;
	font-family: 'Sanchez', serif;
}

h1, h2, h3 {
	font-family: 'Rakkas', cursive;
}

aside {
	background-color: aqua;
	float: left;
}

footer {
clear: left;
}

header {

}

img {
	max-width: 75%;
}

main {
float: left;
max-width: 40%;
background-color: red;
}

nav {

}

#copyright {
	font-size: 80%;
}

#main-container {
float: left;
max-width: 60%;
background-color: pink;
}