@import url('https://fonts.googleapis.com/css?family=Rakkas|Sanchez&display=swap');

/*
	Fonts used:
	font-family: 'Rakkas', cursive;
	font-family: 'Sanchez', serif;
*/

body {
	font-size: 16px;
	font-family: 'Sanchez', serif;
}

h1, h2, h3 {
	font-family: 'Rakkas', cursive;
}

aside {
	background-color: aqua;
	float: left;
	width: 20%;
}

footer {
clear: left;
}

header {
margin: 3em;
}

img {
	max-width: 60%;
}

main {
float: left;
width: 70%;
background-color: red;
}

nav {
float: left;
width: 10%;
}

#copyright {
	font-size: 80%;
}

#main-container {
float: left;
background-color: pink;
}